---
import BackButton from "../../components/BackButton";
import AnimatedBlock from "../../components/UI/Animated/AnimatedBlock";
import AnimatedHeader from "../../components/UI/Animated/AnimatedHeader";
import Layout from "../../layouts/Layout.astro";
import { getAssetURL } from "../../utils/get-asset-url";
import { getDirectusClient } from "../../utils/get-directus-client";

type BlogPost = {
  id: string;
  title: string;
  description: string;
  body: string;
  slug: string;
  category?: string;
  cover_photo: string;
};

export async function getStaticPaths() {
  const directus = await getDirectusClient();

  const blogs = (await directus.items("blog").readByQuery()).data as BlogPost[];

  return blogs.map((blog) => {
    return { params: { slug: blog.slug }, props: { blog } };
  });
}

const { blog } = Astro.props;

console.log(blog);
---

<Layout
  title={`${blog.slug.charAt().toUpperCase()}${blog.slug
    .slice(1)
    .replaceAll("-", " ")} * Eesti Veterinaarmeditsiini Üliõpilaste Selts`}
>
  <div class="bg-white py-32 px-6 lg:px-8">
    <BackButton client:only />
    <div class="mx-auto max-w-3xl text-base leading-7">
      {
        blog.category && (
          <p class="text-base font-semibold leading-7 text-emerald-600">
            {blog.category}
          </p>
        )
      }
      <AnimatedHeader className="my-4" client:load delay={0.24}>
        {blog.title}
      </AnimatedHeader>
      <AnimatedBlock client:load delay={0.24}>
        <div
          class="mt-2 mb-16 flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-zinc-600"
        >
          {
            blog.author ? (
              <p class="mr-7 font-medium">{blog.author}</p>
            ) : (
              <p class="mr-7 font-medium">EVÜS</p>
            )
          }
          <div class="-ml-4 flex items-center gap-x-2 fill-zinc-500/80">
            <svg viewBox="0 0 4 4" class="-ml-0.5 h-1 w-1 flex-none">
              <circle cx={2} cy={2} r={2}></circle>
            </svg>
            <time date-time={new Date(blog.date_created)} class="">
              {
                new Date(blog.date_created).toLocaleDateString("et", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }
            </time>
          </div>
        </div>
      </AnimatedBlock>
      <AnimatedBlock client:load delay={0.42}>
        <p class="my-5 text-base leading-7 text-zinc-700 lg:text-lg">
          {blog.description}
        </p>
        <img
          class="h-64 w-full rounded-lg object-cover shadow-lg sm:h-[400px]"
          src={getAssetURL({
            id: blog.cover_photo,
            width: 900,
            quality: 90,
            fit: "cover",
          })}
        />
        <div
          set:html={blog.body}
          class="lg:mt-12 [&>h2]:mt-8 [&>h2]:mb-4 [&>h2]:text-xl [&>h2]:font-semibold [&>h2]:leading-6 [&>h2]:text-emerald-600 [&>h2]:lg:text-2xl [&>p]:my-5 [&>p]:text-base [&>p]:leading-7 [&>p]:text-zinc-600 [&>p]:lg:text-lg [&_img]:rounded-lg"
        />
      </AnimatedBlock>
    </div>
  </div>
</Layout>
