---
import Footer from "../components/Footer/Footer.astro";
import Navbar from "../components/Navbar/Navbar";
import DefaultBlogCard from "../components/pages/Home/DefaultBlogCard.astro";
import SectionWrapper from "../components/UI/SectionWrapper.astro";
import Layout from "../layouts/Layout.astro";

const { pathname } = Astro.url;

const posts = [
  {
    title: "Boost your conversion rate",
    href: "#",
    category: { name: "Article", href: "#" },
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum.",
    date: "Mar 16, 2022",
    datetime: "2022-03-16",
    imageUrl:
      "https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80",
    readingTime: "6 min",
  },
  {
    title: "How to use search engine optimization to drive sales",
    href: "#",
    category: { name: "Video", href: "#" },
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit facilis asperiores porro quaerat doloribus, eveniet dolore. Adipisci tempora aut inventore optio animi., tempore temporibus quo laudantium.",
    date: "Mar 10, 2022",
    datetime: "2022-03-10",
    imageUrl:
      "https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80",
    readingTime: "4 min",
  },
  {
    title: "Improve your customer experience",
    href: "#",
    category: { name: "Case Study", href: "#" },
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint harum rerum voluptatem quo recusandae magni placeat saepe molestiae, sed excepturi cumque corporis perferendis hic.",
    date: "Feb 12, 2022",
    datetime: "2022-02-12",
    imageUrl:
      "https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80",
    readingTime: "11 min",
  },
  {
    title: "Boost your conversion rate",
    href: "#",
    category: { name: "Article", href: "#" },
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum.",
    date: "Mar 16, 2022",
    datetime: "2022-03-16",
    imageUrl:
      "https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80",
    readingTime: "6 min",
  },
];
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex flex-col items-center">
    <Navbar client:load currentPath={pathname} />
    <SectionWrapper>
      <div
        class="mx-auto flex max-w-3xl flex-col justify-between px-4 pt-6 lg:flex-row lg:pt-0 2xl:max-w-5xl"
      >
        <div
          class="flex w-full max-w-sm grow flex-col lg:max-w-md 2xl:max-w-xl"
        >
          <h1
            class="mb-12 text-5xl font-semibold leading-tight text-zinc-600 lg:text-5xl"
          >
            Blogi
          </h1>
          <div class="mb-6 flex space-x-1 text-sm lg:text-base">
            <a href="#" class="font-semibold text-emerald-600 hover:underline">
              Case Study
            </a>
            <span class="text-zinc-700" aria-hidden="true">&middot;</span>
            <span class="text-zinc-700">{posts[0].readingTime} read</span>
          </div>
          <div
            class="-m-4 flex cursor-pointer flex-col rounded-lg p-4 hover:bg-zinc-200/30"
          >
            <div class="hidden flex-shrink-0 lg:block">
              <img
                class="h-48 w-full rounded-lg object-cover shadow-lg lg:h-[500px]"
                src={posts[0].imageUrl}
                alt=""
              />
            </div>
            <p
              class="mt-3 text-2xl font-semibold text-zinc-900 lg:mt-6 lg:text-4xl"
            >
              {posts[0].title}
            </p>
            <p class="mt-3 text-sm text-zinc-600 lg:mt-4 lg:text-base">
              {posts[0].description}
            </p>
            <div class="mt-6 flex-shrink-0 lg:hidden">
              <img
                class="h-48 w-full rounded-lg object-cover shadow-lg lg:h-64"
                src={posts[0].imageUrl}
                alt=""
              />
            </div>
          </div>
        </div>
        <div
          class="mt-12 flex max-w-sm flex-none flex-col lg:mt-36 lg:max-w-xs"
        >
          <h2
            class="text-xl font-semibold leading-6 text-emerald-600 lg:text-2xl"
          >
            Hiljutised postitused
          </h2>
          {
            posts.slice(0, 3).map((post, idx) => {
              return (
                <div class="mt-6">
                  <DefaultBlogCard post={post} />
                </div>
              );
            })
          }
        </div>
      </div>
    </SectionWrapper>
    <Footer />
  </main>
</Layout>
