---
import SectionHeader from "../../components/SectionHeader";
import { getDirectusClient } from "../../utils/get-directus-client";
import AboutIllustration from "./components/AboutIllustration";
import AboutItem from "./components/AboutItem";

type AboutUs = {
  description: string;
  goal: string;
};

type AboutUsTopic = {
  header: string;
  description: string;
  image: string;
  action: string;
};

const directus = await getDirectusClient();
const aboutUs = (await directus.singleton("about_us").read()) as AboutUs;
const aboutUsTopics = (
  await directus
    .items("about_us_topic")
    .readByQuery({ sort: ["order" as never] })
).data as AboutUsTopic[];

const aboutUsTopicExtra = [
  { href: "/info", color: "cyan" },
  { href: "/info/teams", color: "green" },
  { href: "/info/work", color: "amber" },
  { href: "/info/documents", color: "rose" },
];
---

<main
  class="mx-auto grid max-w-screen-xl grid-cols-1 overflow-visible px-4 md:px-8 lg:grid-cols-5 lg:gap-16"
>
  {/* Left column */}
  <section class="z-10 col-span-1 max-w-lg lg:col-span-2">
    <header class="sticky top-36">
      <SectionHeader
        client:visible
        color="cyan"
        smallHeader="Kes me oleme"
        header={aboutUs.description}
        text={aboutUs.goal}
      />
    </header>
  </section>
  {/* Right column */}
  <AboutIllustration client:visible />
  <section
    class="relative col-span-1 overflow-hidden pt-12 lg:col-span-3 lg:pt-80"
  >
    <ul role="list" class="flex flex-col gap-16 pt-8">
      {
        aboutUsTopics.map((topic, idx) => {
          return (
            <AboutItem
              client:visible
              href={aboutUsTopicExtra[idx].href}
              color={aboutUsTopicExtra[idx].color}
              header={topic.header}
              imageId={topic.image}
              description={topic.description}
              buttonText={topic.action}
            />
          );
        })
      }
    </ul>
  </section>
</main>
