---
import Header from '../../components/UI/Header.astro';
import Mission from './Mission';
import MobileImages from './MobileImages';

const galleryResponse = await fetch(
  'https://evys-api-production.up.railway.app/graphql',
  {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
      query {
        galleries (sort: "order") {
          data {
            id 
            attributes {
              image {
                data {
                  attributes {
                    url
                  }
                }
              }
            }
          }
        }
      }
    `,
    }),
  },
);

const contentResponse = await fetch(
  'https://evys-api-production.up.railway.app/graphql',
  {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
      query {
        homePageTexts {
          data {
            attributes {
              title
              subTitle
              description
              location
            }
          }
        }
      }
    `,
    }),
  },
);

const json = await galleryResponse.json();
const data: Array<any> = json.data.galleries.data;

const json1 = await contentResponse.json();
const data1 = json1.data.homePageTexts.data;

const imageUrls = data.map(
  (item: any) => item.attributes.image.data.attributes.url as string,
);

const heroTexts = data1.find(
  (content: any) => content.attributes.location === 'hero',
).attributes;

const typedHeroText: { title: string; subTitle: string; description: string } =
  {
    title: heroTexts.title,
    subTitle: heroTexts.subTitle,
    description: heroTexts.description,
  };
---

<main
  class="z-20 relative px-4 pt-[100px] md:px-8 lg:pt-[100px] flex flex-col gap-20 max-w-screen-xl mx-auto"
>
  {/* Hero section */}
  <section class="lg:flex lg:gap-16 xl:justify-between">
    {/* Desktop images */}
    <article class="lg:flex flex-col hidden gap-12 flex-grow-0">
      {
        data.slice(0, 3).map((item: any) => {
          return (
            <div class="w-[260px] h-[350px] overflow-hidden rounded-tl-lg rounded-br-lg shadow-lg object-cover">
              <img
                src={item.attributes.image.data.attributes.url}
                alt="image"
                class="w-full h-full"
              />
            </div>
          );
        })
      }
    </article>
    {/* Hero header */}
    <header class="flex flex-col gap-6">
      <h1
        class="text-4xl tracking-tight text-white font-bold leading-[1.3] sm:text-5xl sm:leading-tight lg:leading-tight xl:text-7xl xl:leading-tight"
      >
        Eesti Veterinaarmeditsiini <br class="sm:visible" /> Üliõpilaste
        <br class="sm:hidden" /> Selts
      </h1>
      <article class="hidden lg:flex items-start w-full mt-12 lg:gap-12">
        <div class="lg:flex flex-col hidden gap-12">
          {
            data.slice(3).map((item: any) => {
              return (
                <div class="w-[260px] h-[330px] overflow-hidden rounded-tl-lg rounded-br-lg shadow-lg">
                  <img
                    src={item.attributes.image.data.attributes.url}
                    alt="image"
                    class="w-full h-full object-cover"
                  />
                </div>
              );
            })
          }
        </div>
        <div class="flex flex-1 justify-center pt-48">
          <Header
            subTitle={typedHeroText.subTitle}
            header={typedHeroText.title}
            text={typedHeroText.description}
          />
        </div>
      </article>
    </header>
  </section>
  {/* Mobile images */}
  <section class="mt-6 lg:hidden">
    <MobileImages client:load imageUrls={imageUrls} />
  </section>
  {/* Mobile mission section */}
  <section class="max-w-md lg:hidden">
    <Mission
      client:load
      header="Võimendada veterinaarmeditsiini tudengeid"
      subTitle={typedHeroText.subTitle}
      text={typedHeroText.title + typedHeroText.description}
    />
  </section>
</main>
