---
import { EnvelopeIcon, MapPinIcon } from "@heroicons/react/24/outline";

import { BsFacebook, BsInstagram } from "react-icons/bs/index.js";

const menu = [
  { name: "Seltsi info", href: "/info" },
  { name: "Loomaarsti õpe", href: "/" },
  { name: "Blogi", href: "/blog" },
  { name: "Toetajad", href: "/sponsors" },
];

const contact = [
  { text: "mtu.evus@gmail.com", icon: EnvelopeIcon },
  { text: "Fr. R. Kreutzwaldi 62, Tartu", icon: MapPinIcon },
];

const socials = [
  {
    name: "Facebook",
    href: "https://www.facebook.com/vetselts",
    icon: BsFacebook,
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/evus_vetmed/",
    icon: BsInstagram,
  },
];
---

<footer
  class="footer mt-auto w-full bg-blue-900"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-screen-xl px-6 py-16 lg:px-8">
    <div class="lg:grid lg:grid-cols-4 lg:gap-8">
      <div class="space-y-8">
        <img src="/images/Logo.png" width={90} height={43} alt="Mobile logo" />
        <p class="text-base leading-7 text-zinc-200">
          Tutvustame ja arendame veterinaarmeditsiini eriala üliõpilaste õppe-
          ja teadustööd.
        </p>
        <div class="flex space-x-6">
          {
            socials.map((item) => (
              <a
                href={item.href}
                rel="noreferrer"
                class="text-zinc-200 transition-colors hover:text-white"
              >
                <span class="sr-only">{item.name}</span>
                <item.icon className="h-6 w-6" aria-hidden="true" />
              </a>
            ))
          }
        </div>
      </div>
      <div
        class="col-span-2 mt-10 flex flex-col lg:mt-0 lg:w-full lg:flex-row lg:justify-around"
      >
        <div>
          <h3 class="text-lg font-medium text-zinc-200">EVÜS</h3>
          <ul role="list" class="mt-4 space-y-3">
            {
              menu.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="text-zinc-200 transition-colors hover:text-white"
                  >
                    {item.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="mt-10 lg:mt-0">
          <h3 class="text-lg font-medium text-zinc-200">KONTAKT</h3>
          <ul role="list" class="mt-4 space-y-3">
            {
              contact.map((item) => (
                <li>
                  <a
                    href={item.text}
                    class="flex items-center gap-3 text-zinc-200 transition-colors hover:text-white"
                  >
                    <item.icon className="h-5 w-5" aria-hidden="true" />
                    <span>{item.text}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-10 border-t border-zinc-200 pt-8 sm:mt-16">
      <p class="text-sm text-zinc-200">
        &copy; 2023 EVÜS Org. All rights reserved.
      </p>
    </div>
  </div>
</footer>
