---
import {
  EnvelopeIcon,
  MapPinIcon,
  PhoneIcon,
} from '@heroicons/react/24/outline';

import { BsFacebook, BsInstagram } from 'react-icons/bs/index.js';

const menu = [
  { name: 'Seltsi info', href: '/' },
  { name: 'Loomaarsti õpe', href: '/' },
  { name: 'Blogi', href: '/' },
  { name: 'Toetajad', href: '/' },
];

const contact = [
  { text: '+372 123456', icon: PhoneIcon },
  { text: 'evys@gmail.com', icon: EnvelopeIcon },
  { text: 'Kreutzwaldi 62, Tartu', icon: MapPinIcon },
];

const socials = [
  { name: 'Facebook', href: '/', icon: BsFacebook },
  { name: 'Instagram', href: '/', icon: BsInstagram },
];
---

<footer class="bg-blue-900 w-full mt-auto" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div
    class="mx-auto max-w-screen-xl px-6 pb-8 pt-20 sm:pt-24 lg:px-8 lg:pt-32"
  >
    <div class="lg:grid lg:grid-cols-4 lg:gap-8">
      <div class="space-y-8">
        <img src="/images/Logo.png" width={90} height={43} alt="Mobile logo" />
        <p class="text-zinc-200">
          Tutvustada ja arendada veterinaarmeditsiini eriala üliõpilaste õppe-
          ja teadustööd.
        </p>
        <div class="flex space-x-6">
          {
            socials.map((item) => (
              <a
                href={item.href}
                class="text-zinc-200 hover:text-white transition-colors"
              >
                <span class="sr-only">{item.name}</span>
                <item.icon className="h-6 w-6" aria-hidden="true" />
              </a>
            ))
          }
        </div>
      </div>
      <div
        class="mt-16 lg:mt-0 col-span-2 flex flex-col lg:flex-row lg:w-full lg:justify-around"
      >
        <div>
          <h3 class="text-lg font-medium text-white">EVÜS</h3>
          <ul role="list" class="mt-6 space-y-4">
            {
              menu.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="text-zinc-300 hover:text-white transition-colors"
                  >
                    {item.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="mt-10 lg:mt-0">
          <h3 class="text-lg font-medium text-white">KONTAKT</h3>
          <ul role="list" class="mt-6 space-y-4">
            {
              contact.map((item) => (
                <li>
                  <a
                    href={item.text}
                    class="text-zinc-200 hover:text-white flex gap-3 transition-colors"
                  >
                    <item.icon className="h-6 w-6" aria-hidden="true" />
                    <span>{item.text}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-zinc-200 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-sm text-zinc-200">
        &copy; 2023 EVÜS Org. All rights reserved.
      </p>
    </div>
  </div>
</footer>
